*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Monsterrat', sans-serif;

  user-select: none;
  -webkit-user-select: none;

  --White:#ffffff;
  --Gray: #c7c7c7;
  /* Borders */
  --Cash-Border: #1f77b1;
  --BlackMoney-Border: #1f77b1;
  --Weapon-Border: #1f77b1;
  --Hunger-Border: #1f77b1;
  --Thirst-Border: #1f77b1;
  --Location-Border: #1f77b1;
  --Job-Border: #1f77b1;
  --ScoreboardItem-Border: #1f77b1;
  --Time-Border: #1f77b1;
  --CarHUD-Border: #1f77b1;

  /* Food */
  --Hunger-Box: radial-gradient(40vh circle at 0 -60%,#0e0e0e8f,#00000031);
  --Hunger-Circle: #1f77b1;
  --Hunger-Circle-Inner-Shadow: inset 0 0 0.8vh #00000060;
  --Hunger-Circle-Shadow: drop-shadow(0vh 0vh 0.4vh #0099ff8c);;
  --Hunger-Circle-Border: #1f77b1;
  --Hunger-Progress: #1f77b1;
  --Hunger-Line: #6e6e6e;
  --Hunger-LineActive: #1f77b1;

  --Thirst-Box: radial-gradient(40vh circle at 0 -60%,#0e0e0e8f,#00000031);
  --Thirst-Circle: #1f77b1;
  --Thirst-Circle-Inner-Shadow: inset 0 0 0.8vh #00000060;
  --Thirst-Circle-Shadow: drop-shadow(0vh 0vh 0.4vh #0099ff8c);;
  --Thirst-Circle-Border: #1f77b1;
  --Thirst-Progress: #1f77b1;
  --Thirst-Line: #6e6e6e;
  --Thirst-LineActive: #1f77b1;

  /* ProgressBars */
  --Main-Progress: #0e0e0e8f;
  --Main-ProgressActive: #1f77b1;
  --Health-Box: radial-gradient(40vh circle at 0 -60%,#0e0e0e8f,#00000031);
  --Health-Progress: #1f77b1;
  --Armor-Box: radial-gradient(40vh circle at 0 -60%,#0e0e0e8f,#00000031);
  --Armor-Progress: #929292;

  /* Info Box Icons */
  --Voice: #ffffff;
  --Voice-Range: #ffffff;
  --Voice-Range-Active: #1f77b1;
  --VoiceActive: #1f77b1;
  --VoiceMuted: #ff0000;

  --Radio: #ffffff;
  --RadioActive: #1f77b1;

  
  /* Car HUD Status Icons */
    --Engine: #6e6e6e;
    --EngineActive: #1f77b1;
    --Doorlock: #6e6e6e;
    --DoorlockActive: #1f77b1;
    --Headlights: #6e6e6e;
    --HeadlightsActive: #1f77b1;
    --Seatbelt: #6e6e6e;
    --SeatbeltActive: #1f77b1;
    --Fuel: #2eeb08;
    --FuelActive: #ff0000;

    /* Info Box */
    --Info-Box: radial-gradient(40vh circle at 0 -60%,#0e0e0e8f,#00000031);
    --ServerName-First: #ffff;
    --ServerName-Second: #0084db;
    --ServerName-First-Shadow: drop-shadow(0vh 0vh 0.4vh rgba(255, 255, 255, 0.685));;
    --ServerName-Second-Shadow: drop-shadow(0vh 0vh 0.4vh #0084db);;

    /* Time */
    --Time-Box: radial-gradient(30vh circle at 0 -60%,#0e0e0e8f,#00000031);

    /* Weapon */
    --Weapon-Box: radial-gradient(40vh circle at 0 -60%,#0e0e0e8f,#00000031);
    --TotalAmmo: #1f77b1;

    /* Money */
    --Cash-Box: radial-gradient(30vh circle at 0 -60%,#0e0e0e8f,#00000031);
    --BlackMoney-Box: radial-gradient(30vh circle at 0 -60%,#0e0e0e8f,#00000031);

    /* Job */
    --Job-Box: radial-gradient(34vh circle at 0 -60%,#0e0e0e8f,#00000031);

    /* Location */
    --Location-Box: radial-gradient(34vh circle at 0 -60%,#0e0e0e8f,#00000031);

    /* Location */
    --Location-Box: radial-gradient(34vh circle at 0 -60%,#0e0e0e8f,#00000031);

   /* Car HUD */
    --CarHUD-Box: radial-gradient(50vh circle at 0 -60%,#0e0e0e8f,#00000031);
    --Gear: #6e6e6e;
    --GearActive: #1f77b1;
    --rpm: #6e6e6e;
    --rpmActive1: #1fb13f;
    --rpmActive2: #b1721f;
    --rpmActive3: #b11f1f;
  
   /* Scoreboard */
   --Scoreboard-Item-Box: radial-gradient(40vh circle at 0 -60%,#00000042,#00000044);
   --Scoreboard-Box: radial-gradient(130vh circle at 0 -60%,#0f4566b2,#00000083);
   --Scoreboard-Count-Box: #1f77b1;
   --Scoreboard-First: #ffff;
   --Scoreboard-Second: #0084db;
   --Scoreboard-First-Shadow: drop-shadow(0vh 0vh 0.4vh rgba(255, 255, 255, 0.685));;
   --Scoreboard-Second-Shadow: drop-shadow(0vh 0vh 0.4vh #0084db);;

  /* HELPUI */
  --HelpUI-Background: radial-gradient(circle closest-side, #1f77b175, rgba(0, 0, 0, 0));
  --HelpUI-InnerCircle: #1f77b1;
  --HelpUI-InnerCircle-Shadow: drop-shadow(0vh 0vh 0.4vh #0099ff8c);
  --HelpUI-InnerCircle-Small: #1f77b1;
  --HelpUI-InnerCircle-Small-Shadow: drop-shadow(0vh 0vh 0.4vh #0099ff8c);
  --HelpUI-OuterCircle: #1f77b1;
  --HelpUI-OuterCircle-Shadow: drop-shadow(0vh 0vh 0.4vh #0099ff8c);
}

html,
body{
  position: relative;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: normal;
  overflow: hidden;
}

img {
  position: absolute;
  width: 1.6vh;
	height: 1.6vh;
  top:0.6vh;
  left:0.74vh;
}

/* Progress Bars */
#progressbar-container {
	position: absolute;
  right:42%;
	top: 83.4vh;
  text-align:left;
  font-weight:bold;
  line-height:0vh
}

.progressbar-line {
  display:inline-block;
  position: relative;
  width:1.4vh;
  height:2vh;
  right:0vh;
  margin-left:0.12vh;
  top:10vh;
  border-radius:0.2vh;
  background: var(--Main-Progress);
  transform: skew(-20deg, 0deg);
  transition: all 0.26s ease-in-out;
}

.progressbar-text {
  position: absolute;
  width:30vh;
  height:4vh;
  bottom:-10vh;
  right:-1.6vh;
  text-align: center;
  font-size: 1.4vh;
  color:var(--White);
  text-shadow:0vh 0vh 0.8vh rgba(255, 255, 255, 0.685)
}

.progressbar-status {
  position: absolute;
  width:30vh;
  height:4vh;
  bottom:-16vh;
  right:-1.6vh;
  text-align: center;
  font-size: 1.4vh;
  color:var(--White);
  text-shadow:0vh 0vh 0.8vh rgba(255, 255, 255, 0.685)
}

.health-container {
  position: absolute;
  width:14vh;
  height:0.94vh;
  top:97.44vh;
  left:2.6vh;
  font-size: 2vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.2vh;
  background: var(--Health-Box);
  transition: all 0.44s ease-in-out;
}

.health-progress {
  position: absolute;
  width:100%;
  height:0.94vh;
  bottom:0vh;
  left:0vh;
  font-size: 2vh;
  padding-top:0.4vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.2vh;
  background: var(--Health-Progress);
  transition: all 0.44s ease-in-out;
  box-shadow: inset 0 0 0.4vh #00000060;
}

.armor-progress {
  position: absolute;
  width:100%;
  height:0.94vh;
  bottom:0vh;
  left:0vh;
  font-size: 2vh;
  padding-top:0.4vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.2vh;
  background: var(--Armor-Progress);
  transition: all 0.44s ease-in-out;
  box-shadow: inset 0 0 0.4vh #00000060;
}

.armor-container {
  position: absolute;
  width:14vh;
  height:0.94vh;
  top:97.44vh;
  left:17.4vh;
  font-size: 2vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.2vh;
  background: var(--Armor-Box);
  transition: all 0.44s ease-in-out;
}

.thirst-icon {
  position: absolute;
  width: 1.8vh;
	height: 1.8vh;
  top:0.4vh;
  left:0.4vh;
  fill:var(--White)
}

.hunger-icon {
  position: absolute;
  width: 1.8vh;
	height: 1.8vh;
  top:0.48vh;
  left:0.42vh;
  fill:var(--White)
}

/* Car HUD Status Icons */
.engine-icon {
  position: absolute;
  width: 2.4vh;
	height: 2.4vh;
  top:0vh;
  right:0.6vh;
  fill:var(--EngineActive);
}

.door-lock-icon {
  position: absolute;
  width: 2.6vh;
	height: 2.4vh;
  top:0.2vh;
  right:-3.2vh;
  fill:var(--DoorlockActive);
}

.headlights-icon {
  position: absolute;
  width: 4.4vh;
	height: 4.4vh;
  top:0.4vh;
  right:-8.6vh;
  fill:var(--HeadlightsActive);
}

.seatbelt-icon {
  position: absolute;
  width: 1.6vh;
	height: 1.6vh;
  top:0.52vh;
  right:-9.4vh;
  fill:var(--SeatbeltActive);
}

.fuel-icon {
  position: absolute;
  width: 3.12vh;
	height: 3.12vh;
  top:0.74vh;
  right:-2.2vh;
  fill:var(--White);
}

.box-border {
  position:absolute;
  bottom:0vh;
  left:0vh;
  border-top-left-radius: 0.4vh;
  border-bottom-left-radius: 0.4vh;
}

.box-border-car {
  position:absolute;
  bottom:0vh;
  left:0vh;
  border-bottom-right-radius: 0.4vh;
  border-bottom-left-radius: 0.4vh;
}


.wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  /*background-color: #06273b;*/

  background-size:cover;
  background-repeat: no-repeat;
}
/* Server Info */
.server-info-container {
  position: absolute;
  width:30vh;
  height:10vh;
  top:2vh;
  right:2vh;
  font-size: 2vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:2.8vh;
  border-radius:0.4vh;
  text-align: left;
  color:var(--White);
  background: var(--Info-Box);
}


.stats {
  position: absolute;
  width:20vh;
  margin-top:5.2vh;
  left:2.54vh;
  color:var(--White);
}

.id{
  position: relative;
  width:20vh;
  height:0vh;
  font-size: 1.4vh;
  font-weight:bold;
  text-align: left;
  color:var(--White);
}

.players{
  position: relative;
  width:20vh;
  height:0vh;
  left:6vh;
  font-size: 1.4vh;
  font-weight:bold;
  text-align: left;
  color:var(--White);
}

.voice{
  position: absolute;
  width:20vh;
  height:0vh;
  left:15.8vh;
  top:0vh;
  font-size: 1.4vh;
  color:var(--Voice);
}

.range-dot{
  display:inline-block;
  position: relative;
  width:0.6vh;
  height:0.6vh;
  left:17.8vh;
  top:-0.4vh;
  background-color: var(--White);
  border-radius:100%;
  color:var(--White);
}

.radio{
  position: absolute;
  width:20vh;
  height:0vh;
  left:23.6vh;
  top:0vh;
  font-size: 1.4vh;
  font-weight:bold;
  color:var(--White);
}

.server-name {
  position: absolute;
  width:80vh;
  height:0vh;
  top:2.2vh;
  left:-25.2vh;
  font-size: 3.2vh;
  font-weight:bold;
  text-align: center;
  text-shadow:0vh 0vh 1.4vh rgba(0, 0, 0, 0.521)
}

.logo img{
  position: absolute;;
  width:2.8vh;
  height:2.8vh;
  top:-0.08vh;
  left:11.2vh;
}

.time-box {
  position: absolute;
  width:9.4vh;
  height:4.8vh;
  top:2vh;
  left:2vh;
  font-size: 1.6vh;
  padding-top:0.8vh;
  padding-left:1.2vh;
  line-height:1.6vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  background: var(--Time-Box);
}
/* Food */
.thirst-circle {
	width: 3.2vh;
	height: 3.2vh;
	background:var(--Thirst-Circle);
	border:0.28vh solid  var(--Thirst-Circle-Border);
	filter: var(--Thirst-Circle-Shadow);
	float: left;
	margin-left: -0.2vh;
	margin-top: 0.34vh;
	font-size: 4vh;
  padding:0.8vh;
	border-radius:100%;
  line-height:20vh;
  text-align: center;
	box-shadow: var(--Thirst-Circle-Inner-Shadow)
}

.thirst-container {
  position: absolute;
  width:14vh;
  height:4.8vh;
  top:72.98vh;
  left:2.6vh;
  font-size: 2vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  background: var(--Hunger-Box);
  transition: all 0.44s ease-in-out;
}


.thirst-line {
  display:inline-block;
  position: relative;
  width:1.6vh;
  height:0.8vh;
  left:0.8vh;
  top:0.4vh;
  border-radius:0.2vh;
  background: var(--Thirst-Line);
  transform: skew(-20deg, 0deg);
  transition: all 0.26s ease-in-out;
}

.hunger-line {
  display:inline-block;
  position: relative;
  width:1.6vh;
  height:0.8vh;
  left:0.8vh;
  top:0.4vh;
  border-radius:0.2vh;
  background: var(--Hunger-Line);
  transform: skew(-20deg, 0deg);
  transition: all 0.26s ease-in-out;
}


.hunger-circle {
	width: 3.2vh;
	height: 3.2vh;
	background:var(--Hunger-Circle);
	border:0.28vh solid  var(--Hunger-Circle-Border);
	filter: var(--Hunger-Circle-Shadow);
	float: left;
	margin-left: -0.2vh;
	margin-top: 0.34vh;
	font-size: 4vh;
  padding:0.8vh;
	border-radius:100%;
  line-height:20vh;
  text-align: center;
	box-shadow: var(--Hunger-Circle-Inner-Shadow)
}

.hunger-container {
  position: absolute;
  width:14vh;
  height:4.8vh;
  top:72.98vh;
  left:17.4vh;
  font-size: 2vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  background: var(--Hunger-Box);
  transition: all 0.44s ease-in-out;
}

.money-box {
  position: relative;
  display:inline-block;
  width:14.6vh;
  height:4.8vh;
  top:12.2vh;
  right:11.2vh;
  margin-top:1.2vh;
  margin-left:0.2vh;
  font-size: 1.6vh; 
  padding-top:0.8vh;
  padding-left:1.2vh;
  line-height:1.6vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  transition: all 0.60s ease-in-out;
}

.test-container {
  position: absolute;
  width:40vh;
  right:-19vh;
}

#weapon-box {
  position: relative;
  top:12.2vh;
  right:11.2vh;
  width: 30vh;
  height: 6vh;
  padding:0vh;
  padding-left:0.8vh;
  color:var(--White);
  border-radius:0.4vh;
  background: var(--Weapon-Box);
  transition: all 0.26s ease-in-out;
}

.weapon-image {
  position: relative;
  width:20vh;
  height:6vh;
  top:0vh;
  left:0vh;
  font-size: 2vh;
  background-image:url("images/weapon_carbinerifle.png");
  background-position-y: -3.2vh;
  background-size:12.4vh;
  background-repeat: no-repeat;
}

.weapon-ammo {
  position: relative;
  width:30vh;
  height:6vh;
  top:-5vh;
  left:14.8vh;
  font-size: 1.6vh;
  line-height:2vh;
  font-weight:bold;
  color:rgb(196, 196, 196);
}


.bottom-box {
  position: absolute;
  display:inline-block;
  min-width:2vh;
  height:4.8vh;
  top:84.8vh;
  left:32.2vh;
  padding-top:0.6vh;
  padding-left:1.4vh;
  padding-right:1.2vh;
  line-height:1.6vh;
  margin-top:3.4vh;
  font-size: 1.6vh;
  line-height:2vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  transition: all 0.26s ease-in-out;
}

/*.settings-container {
  position: absolute;
  width:66vh;
  height:34vh;
  top:28vh;
  right:30%;
  font-size: 2.2vh;
  padding-top:1.02vh;
  padding-left:1.2vh;
  line-height:3vh;
  color:var(--White);
  border-bottom:0.4vh solid #1f77b1;
  border-radius:0.4vh;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0.1vh 0.1vh 1.4vh #00000093;
  background: radial-gradient(100vh circle at 0 -60%,#afafaf54,#00000000);
  filter: drop-shadow(0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.671));
}

.settings-item-box {
  position: relative;
  display:inline-block;
  width:20vh;
  height:5.54vh;
  top:4vh;
  margin-top:0.8vh;
  left:1.2vh;
  font-size: 1.6vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:4.2vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  text-shadow: 0.1vh 0.1vh 1.4vh #00000093;
  background: radial-gradient(30vh circle at 0 -60%,#afafaf54,#00000000);
  filter: drop-shadow(0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.671));
}

.close-button{
  position: absolute;;
  width:3.2vh;
  height:3.2vh;
  top:1.4vh;
  margin-top:0.8vh;
  right:2.36vh;
  font-size: 2vh;
  line-height:3.4vh;
  text-align: center;
  color:var(--White);
  border-radius:0.4vh;
  background: radial-gradient(30vh circle at 0 -60%,#afafaf54,#00000000);
  filter: drop-shadow(0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.671));
}

.close-button:hover{
  background: #1f77b1;
  filter: drop-shadow(0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.199));
}


.container {
  display: block;
  position: relative;
  padding-left: 3.72vh;
  margin-bottom: 1.2vh;
  cursor: pointer;
  font-size: 2.34vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -3.4vh;
  left: 14.8vh;
  height: 2.6vh;
  width: 2.6vh;
  border-radius:0.4vh;
  background: #afafaf77
}


.container:hover input ~ .checkmark {
  background-color: #d6d6d677
}


.container input:checked ~ .checkmark {
  background-color: #1f77b1;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 0.94vh;
  top: 0.52vh;
  width: 0.52vh;
  height: 1.06vh;
  border: solid white;
  border-width: 0 0.32vh 0.32vh 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/



.car-hud-container {
  position: absolute;
  width:36.6vh;
  height:11.4vh;
  top:86.8vh;
  right:2vh;
  font-size: 2vh;
  padding-top:0.4vh;
  padding-left:1.2vh;
  line-height:2.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  background: var(--CarHUD-Box);
}

.car-hud-content {
  position: absolute;
  width:40vh;
  height:10vh;
  top:-1.6vh;
  right:-4vh;
}

.vehicle-gear-box {
  display:inline-block;
  position: relative;
  width:3.866vh;
  height:2vh;
  right:-1.8vh;
  top:5.8vh;
  margin-left:0.01vh;
  border-radius:0.2vh;
  background: var(--Gear);
  transform: skew(-20deg, 0deg);
  text-align: center;
  font-size:1.4vh;
  line-height: 2.2vh;;
  font-weight:bold;
}

.vehicle-status-container {
  position: absolute;
  width:20vh;
  top:2.84vh;
  right:23.2vh;
  color:var(--White);
}



.fuel-status{
  position:absolute;
  width:2.4vh;
  height:2.4vh;
  top:-0.12vh;
  right:-11.86vh;
  font-size:1.4vh;
  line-height: 3.32vh;
  font-weight: bold;
  color:red
}

.speed-text {
  position: absolute;
  width:80vh;
  height:0vh;
  top:2.4vh;
  right:-42vh;
  font-size: 3.2vh;
  font-weight:bold;
  text-align: left;
  color:var(--White);
}


#car-rpm-container {
	position: absolute;
	right: 7.8vh;
	top: -3.8vh;
}

#colors {
	position: absolute;
	width: 16.146vw;
	height: 3.073vw;
	left: 82.76vw;
	bottom: 3.15vw;
	overflow: visible;
}

.rpm {
  display:inline-block;
  position: relative;
  width:1vh;
  height:3vh;
  right:-0.8vh;
  top:10vh;
  border-radius:0.2vh;
  background:var(--rpmActive);
  transform: skew(-20deg, 0deg);
  transition: all 0.26s ease-in-out;
}


.notify-wrapper{
  position:absolute;
  top:10vh;
  left:0vh;
  max-width:32vh;
  min-width: 18vh;
  min-height:6vh;
}


.notify-inner-circle {
  position: relative;
  width:2vh;
  height:2vh;
  top:-0.8vh;
  left:-0.78vh;
  border-radius:100%;
  padding:0.02vh;
}

.notify-outer-circle {
  position: absolute;
  width:4vh;
  height:4vh;
  top:1.6vh;
  left:11.4vh;
  border-radius:100%;
  padding:1.4vh;
}

.notify-image {
  position: absolute;
  width:2vh;
  height:2vh;
  background-size:1.6vh;
  background-position-x: 0.2vh;
  background-position-y:0.2vh;
  background-repeat: no-repeat;
  border-radius:100%;
}

.notify-container  {
  position: relative;
  width:24vh;
  min-height:8vh;
  top:0vh;
  left:-9.4vh;
  line-height:1.6vh;
  margin-top:-2vh;
  font-size: 1.6vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  padding-bottom:5.4vh;
  filter: drop-shadow(0vh 0vh 0.4vh #000000a4);
}

.notify-progress {
  position: absolute;
  width:0.32vh;
  min-height:10vh;
  top:1.08vh;
  left:9.4vh;
  font-size: 2vh;
  text-align: center;
  color:var(--White);
  border-bottom-left-radius: 0.4vh;
  border-bottom-right-radius: 0.4vh;
}


.notify-progress-inner {
  position: absolute;
  width:0.32vh;
  height:20%;
  bottom:2.2vh;
  left:6.8vh;
  border-bottom-left-radius: 0.4vh;
  border-bottom-right-radius: 0.4vh;
  color:var(--White);
  background: #32ba7c;
  filter: drop-shadow(0vh 0vh 0.4vh #32ba7c);
}


.notify-title {
  position: absolute;
  width:28vh;
  top:1.8vh;
  left:17.4vh;
  text-align: left;
  font-size: 1.6vh;
  font-weight:bold;
  text-transform: uppercase;
  filter: drop-shadow(0vh 0vh 0.4vh #32ba7c);
}

.notify-text {
  position: absolute;
  width:30vh;
  min-height:2vh;
  top:4vh;
  left:9.4vh;
  text-align: left;
  font-size: 1.32vh;
  padding-bottom:2vh;
  color:rgb(255, 255, 255);
  padding-left:8vh;
  line-height:1.6vh;
  border-radius:0.4vh;
  font-weight:bold;
}

.teamchat-wrapper{
  position:absolute;
  top:10vh;
  right:0vh;
  max-width:32vh;
  min-width: 18vh;
  min-height:6vh;
}


.teamchat-inner-circle {
  position: relative;
  width:2vh;
  height:2vh;
  top:-0.8vh;
  right: 0.8vh;
  border-radius:100%;
  padding:0.02vh;
}

.teamchat-outer-circle {
  position: absolute;
  width:4vh;
  height:4vh;
  top:1.8vh;
  right:8.4vh;
  border-radius:100%;
  padding:1.4vh;
}

.teamchat-image {
  position: absolute;
  width:2vh;
  height:2vh;
  background-size:1.6vh;
  background-position-x: 0.2vh;
  background-position-y:0.2vh;
  background-repeat: no-repeat;
  border-radius:100%;
  background-image:url('notify-images/teamchat.png')
}

.teamchat-container  {
  position: relative;
  width:24vh;
  min-height:8vh;
  top:20vh;
  right:20vh;
  line-height:1.6vh;
  margin-top:-2vh;
  font-size: 1.6vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  padding-bottom:5.4vh;
}

.teamchat-progress {
  position: absolute;
  width:0.32vh;
  min-height:10vh;
  top:1.08vh;
  left:9.4vh;
  font-size: 2vh;
  text-align: center;
  color:var(--White);
  border-bottom-left-radius: 0.4vh;
  border-bottom-right-radius: 0.4vh;
}


.teamchat-progress-inner {
  position: absolute;
  width:0.32vh;
  height:20%;
  bottom:2.2vh;
  left:6.8vh;
  border-bottom-left-radius: 0.4vh;
  border-bottom-right-radius: 0.4vh;
  color:var(--White);
}


.teamchat-title {
  position: absolute;
  width:28vh;
  top:1.8vh;
  left:17.4vh;
  text-align: left;
  font-size: 1.6vh;
  font-weight:bold;
  text-transform: uppercase;
}

.teamchat-text {
  position: absolute;
  width:30vh;
  min-height:2vh;
  top:4vh;
  left:9.4vh;
  text-align: left;
  font-size: 1.32vh;
  padding-bottom:2vh;
  color:rgb(255, 255, 255);
  padding-left:8vh;
  line-height:1.6vh;
  border-radius:0.4vh;
  font-weight:bold;
}

.announce-wrapper{
  position:absolute;
  top:4vh;
  left:37.4%;
  max-width:44vh;
  min-width: 18vh;
  min-height:6vh;
}


.announce-inner-circle {
  position: relative;
  width:2vh;
  height:2vh;
  top:-0.8vh;
  left:-0.78vh;
  border-radius:100%;
  padding:0.02vh;
  background: #1f77b1;
}

.announce-outer-circle {
  position: absolute;
  width:4vh;
  height:4vh;
  top:1.6vh;
  left:12vh;
  border-radius:100%;
  padding:1.4vh;
  border:0.4vh #1f77b1 solid;
  filter:drop-shadow(0vh 0vh 0.8vh #1f77b1)
}


.announce-image {
  position: absolute;
  width:2vh;
  height:2vh;
  background-size:1.6vh;
  background-position-x: 0.2vh;
  background-position-y:0.2vh;
  background-repeat: no-repeat;
  border-radius:100%;
  background-image:url('notify-images/announce.png')
}

.announce-container  {
  position: relative;
  width:74vh;
  min-height:8vh;
  top:0vh; 
  left:-42%;
  line-height:1.6vh;
  margin-top:-2vh;
  font-size: 1.6vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  padding-bottom:6vh;
}

.announce-progress {
  position: absolute;
  min-height:0.32vh;
  width:auto;
  top:1.08vh;
  left:9.4vh;
  font-size: 2vh;
  text-align: center;
  color:var(--White);
  border-radius: 0.4vh;
}


.announce-progress-inner {
  position: absolute;
  min-height:0.32vh;
  width:20%;
  bottom:1.2vh;
  left:0vh;
  border-radius: 0.4vh;
  color:var(--White);
  background: #1f77b1;
  filter: drop-shadow(0vh 0vh 0.4vh #1f77b1);
}


.announce-title {
  position: absolute;
  width:28vh;
  top:1.8vh;
  left:17.4vh;
  text-align: left;
  font-size: 1.6vh;
  font-weight:bold;
  text-transform: uppercase;
  filter: drop-shadow(0vh 0vh 0.4vh #1f77b1);
  color:#1f77b1;
}

.announce-text {
  position: absolute;
  width:auto;
  max-width:54vh;
  min-height:2vh;
  top:4vh;
  left:17.4vh;
  text-align: left;
  font-size: 1.32vh;
  padding-bottom:2vh;
  color:rgb(255, 255, 255);
  line-height:1.6vh;
  border-radius:0.4vh;
  font-weight:bold;
}


.scoreboard-container {
  position: absolute;
  width:40vh;
  top:18vh;
  right:40%;
  min-height:12vh;
  max-height:57.4vh;
  font-size: 2.2vh;
  padding-top:1.02vh;
  padding-bottom:2vh;
  padding-left:1.2vh;
  line-height:3vh;
  color:var(--White);
  border-radius:0.4vh;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--Scoreboard-Box)
}

.scoreboard-content {
  position: absolute;
  margin-left: 0vh;
  margin-top: -7.4vh;
  top:12vh;
  height:51.2vh;
  width:37.84vh;
  overflow:hidden;
}

.scoreboard-job-count {
  position: absolute;
  width:6vh;
  height:4.8vh;
  right:0vh;
  margin-left:0.12vh;
  top:0vh;
  font-size:2vh;
  line-height:5.4vh;
  text-align: center;
  border-radius:0.2vh;
  transition: all 0.26s ease-in-out;
  text-shadow:0vh 0vh 0.8vh rgba(255, 255, 255, 0.685)
}

.scoreboard-job-image {
  position: absolute;
  width:4vh;
  height:4vh;
  top:0.2vh;
  left:0.6vh;
  background-size:4vh;
  background-position-x: 0.2vh;
  background-position-y:0.2vh;
  background-repeat: no-repeat;
  background-image:url('images/lspd.png');
  filter: drop-shadow(0vh 0vh 0.8vh #00000021);
}

.socreboard-item-box {
  position: relative;
  display:inline-block;
  width:35.2vh;
  height:4.8vh;
  margin-top:0.8vh;
  left:1.2vh;
  font-size: 1.6vh;
  padding-left:5.2vh;
  line-height:4.8vh;
  text-align: left;
  color:var(--White);
  border-radius:0.4vh;
  text-shadow:0vh 0vh 0.8vh rgba(255, 255, 255, 0.685);
  background: var(--Scoreboard-Item-Box)
}


@keyframes blink {
	0% {
	  opacity: 1.0;
	}
	50% {
	opacity: 0.2;	
	}
	100% {
	  opacity: 1.0;
	}
  }